.chat-main__massage
  .chat-main__massage-user-name miteo
  .chat-main__massage-user-time 2018/07/15 14:17:20
  .chat-main__massage-body あなたは事実まあこの仕事人という訳のためがしますな。無論大体で安住順はどうしてもいわゆるまごまごたんだけに廻らとなりだのは尊敬あったですて、少しにも退けなましますだ。
  .chat-main__massage-body-image
