.chat-side{
  width: 300px;
  float: left;
  height: 100%;
}

.chat-side__user{
  background-color: #253141;
  color: $WhiteColor;
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

.chat-side__user--new-group{
  float: left;
  margin-left: 170px;
}

.chat-side__groups{
  background-color: #2f3e51;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: calc(100vh - 14% - 30px);
}

.chat-side__group{
  padding-bottom: 40px;
}

.chat-side__group-name{
  font-size: 15px;
}

.chat-side__group-message{
  padding-top: 5px;
  font-size: 11px;
}
