@import "reset";
/* @import "notification";
@import "chat-side";
@import "chat-main"; */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.notification {
  height: 28px;
  background-color: #38AEF0;
}

.notice {
  text-align: center;
  color: white;
}


.chat-side{
  width: 300px;
  float: left;
  height: 100%;
}

.chat-side__user{
  background-color: #253141;
  color: white;
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
}



.chat-side__groups{
  background-color: #2f3e51;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: calc(100vh - 14% - 30px);
}

.chat-side__group{
  padding-bottom: 40px;
}

.chat-side__group-name{
  font-size: 15px;
}

.chat-side__group-message{
  padding-top: 5px;
  font-size: 11px;
}




.chat-main{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #FFFFFF;
  float: left;
  position: relative;
  min-height: 100%;
}

.chat-main__header{
  border:1px solid #eee;
  height: calc(15% - 2px);
}

.chat-main__header--group-name{
  padding-top: 35px;
  padding-left: 40px;
  font-size: 20px;
  color: #333333;
  float: left;
}

.chat-main__header--group-edit-btn{
  float: right;
  margin: 28px 40px 0;
  padding: 12.5px 20px;
  border: 1px solid #38AEF0;
  color: #38AEF0;
}

.chat-main__header-members{
  clear: left;
  padding-top: 15px;
  padding-left: 40px;
  font-size: 12px;
  color: #999999;
  padding-bottom: 20px;
}


.chat-main__body{
  height: calc( 100vh - 15% - 90px );
}

.chat-main__body--massage-list{
  padding-top: 46px;
}

.chat-main__massage{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.chat-main__massage-user-name{
  float: left;
}

.chat-main__massage-user-time{
  float: left;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 10px;
  color: #999;

}

.chat-main__footer{
  position: absolute;
  bottom: 0;
  width: calc(100vw - 300px);
  height: 90px;
  background-color: #B8C3C7;
}

.chat-main__footer-form {
  margin: 0 40px;
  position: relative;
}

.chat-main__massage-body{
  clear: both;
  padding-top: 10px;
}

.input_message{
  height: 50px;
  width: calc( 100% - 130px );
  margin: 20px 0;
  padding-left: 20px;
  border-width: 0px;
}

.chat-main__footer .submit {
  color: #fff;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #38AEF0;
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}





